<!--This is navbar page for non logged in users-->
<nav>
    <ul>
      <li [ngClass]="currentRoute === '/' ? 'hide' : ''"><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">back</a></li>
      <li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">register</a></li>
      <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">login</a></li>

      <!--TODO: autoredirect to centy when logged in-->
      <li><a routerLink="/centy" routerLinkActive="active" ariaCurrentWhenActive="page">centy</a></li>
    </ul>
</nav>

<!--Default route is landing page, rest listed in navbar-->
<router-outlet></router-outlet>