.centy-base {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .toolbar {
        height: auto;
    }

    .toolbar-info {
        margin-right: 10pt;
    
        span {
            display: block;
        }
    
        .title {
            font-size: 11pt;
            font-weight: 200;
        }
    
        .money {
            font-size: 9pt;
            font-weight: 500;
        }
    }

    .sidenav-container {
        flex-grow: 1;
        height: 100%;

        .menu {
            padding: 10pt;
            border-right: 0px;
            background-color: #282828e8;
        }

        .content {
            padding: 10pt;
        }

        button {
            display: block;
            width: 80pt;
            margin-bottom: 5pt;
        }
    }
}
