<!-- This is layout page for non logged in users -->
<div class="landing-base">
  <mat-toolbar>
    <span class="toolbar-logo" routerLink="/">Centy</span>
    <span class="toolbar-spacer"></span>
    <button id="register" mat-raised-button color="primary" routerLink="/register">
      Register
    </button>
    <button id="login" mat-raised-button color="accent" routerLink="/login">
      Log in
    </button>
  </mat-toolbar>

  <div class="content">
    <!-- Default route is landing, register and login routes also avaliable -->
    <router-outlet></router-outlet>
  </div>
</div>