.landing-base {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  #register {
    margin: 7pt;
  }

  .content {
    flex-grow: 1;
    padding: 10pt;
    overflow: auto;
    background-color: #303030;
    color: white;
  }
}