.landing-base {
    display: flex;
    flex-direction: column;
    height: 100vh;

    #register {
        margin-right: 10px;
    }

    .content {
        flex-grow: 1;
        padding: 10pt;
    }
}
