<span>Welcome to our promotional page!</span>

<p>This page is intended for users who haven't registered yet.
    Here, we aim to give them a glimpse of what we're all about
    and how our app can help them manage their personal finances.</p>

<p>Work in progress...</p>

<!-- TODO redirect to home page once logged in -->
<a routerLink="/centy" routerLinkActive="active" ariaCurrentWhenActive="page">Home for logged in users -></a>

<br/><br/>

<div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Earum ratione provident ut eligendi eum quaerat asperiores consequuntur expedita! 
    Nam, ullam libero numquam maxime provident sint dignissimos iusto enim.
</div>
<div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Earum ratione provident ut eligendi eum quaerat asperiores consequuntur expedita! 
    Nam, ullam libero numquam maxime provident sint dignissimos iusto enim.
</div>
<div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Earum ratione provident ut eligendi eum quaerat asperiores consequuntur expedita! 
    Nam, ullam libero numquam maxime provident sint dignissimos iusto enim.
</div>
<div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Earum ratione provident ut eligendi eum quaerat asperiores consequuntur expedita! 
    Nam, ullam libero numquam maxime provident sint dignissimos iusto enim.
</div>
<div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Earum ratione provident ut eligendi eum quaerat asperiores consequuntur expedita! 
    Nam, ullam libero numquam maxime provident sint dignissimos iusto enim.
</div>
<div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Earum ratione provident ut eligendi eum quaerat asperiores consequuntur expedita! 
    Nam, ullam libero numquam maxime provident sint dignissimos iusto enim.
</div>
<div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Earum ratione provident ut eligendi eum quaerat asperiores consequuntur expedita! 
    Nam, ullam libero numquam maxime provident sint dignissimos iusto enim.
</div>
<div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Earum ratione provident ut eligendi eum quaerat asperiores consequuntur expedita! 
    Nam, ullam libero numquam maxime provident sint dignissimos iusto enim.
</div>
<div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Earum ratione provident ut eligendi eum quaerat asperiores consequuntur expedita! 
    Nam, ullam libero numquam maxime provident sint dignissimos iusto enim.
</div>
<div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
    Earum ratione provident ut eligendi eum quaerat asperiores consequuntur expedita! 
    Nam, ullam libero numquam maxime provident sint dignissimos iusto enim.
</div>
