<div id="register-page">
    <div *ngIf="isLoading$ | async; else loaded">
        <mat-spinner></mat-spinner>
    </div>
    <ng-template #loaded>
        <form id="register-form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput required placeholder="name@domain.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">Email is invalid</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" [formControl]="password">
                <mat-error *ngIf="password.invalid">Password is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirm password</mat-label>
                <input matInput type="password" [formControl]="confirm">
                <mat-error *ngIf="confirm.invalid">Password should match</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Base currency</mat-label>
                <mat-select [formControl]="currency" required>
                    <mat-option *ngFor="let currency of currencies$ | async"
                        value="{{currency.code}}">{{currency.description}}</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary">Register</button>
        </form>
    </ng-template>

</div>