<div id="login-page">
  <form id="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    @if (isDesktopHeight.matches) {
      <img src="../../../assets/typing.gif" alt="cat" />
    }
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput required placeholder="name@domain.com" [formControl]="email" required>
      @if (email.invalid) {
        <mat-error>Email is invalid</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" [formControl]="password">
      @if (password.invalid) {
        <mat-error>Password is required</mat-error>
      }
    </mat-form-field>
    <button mat-raised-button [disabled]="!loginForm.valid || submitButtonDisabled" color="primary">Log In</button>
  </form>
</div>